body{
background-repeat: no-repeat;
background-position: right top;
background-attachment: fixed;
text-align: center;
background-color: blueviolet;
background: linear-gradient(to bottom left, #33ccff 0%, #ff99ff 100%);
background-size:cover;
}
#title{
    text-align: center;
    color: black;
    text-shadow: 4px 4px 7px orange;
    
    
}
.v{
    text-align: center;
}
div{
    text-align: center;
}
.main{
    text-align: center;
justify-content: space-around;

}
.gojo{
    text-align: center;
    
}
.yuji{
    text-align: center;
}
.suk{
    text-align: center;
}
.pan{
    text-align: center;
}